<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Database"/>
    <!-- Add your custom assembly if the WpfTarget is in a different one -->
    <add assembly="BgLogger"/> 
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="dbPath" value="${basedir}/DataDir/logs/HistoricalLogs.sqlite"/>

  <targets>
    <!-- Target for Real-time UI updates. We'll create this custom target -->
    <target name="wpfUiTarget" xsi:type="ObservableCollectionTarget" />

    <!-- Database Target for all sources -->
    <target name="database" xsi:type="Database"
            dbProvider="Microsoft.Data.SQLite.SqliteConnection, Microsoft.Data.Sqlite"
            connectionString="Data Source=${var:dbPath}">
      <commandText>
        INSERT INTO Logs (Timestamp, Level, Source, Message, Exception)
        VALUES (@Timestamp, @Level, @Source, @Message, @Exception);
      </commandText>
      <parameter name="@Timestamp" layout="${date}" />
      <parameter name="@Level" layout="${level:uppercase=true}" />
      <parameter name="@Source" layout="${logger}" />
      <!-- Logger name is our source -->
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=ToString}" />
    </target>

    <!-- Optional: File target for debugging NLog setup -->
    <target name="fileDebug" xsi:type="File"
            fileName="${logDirectory}/debug-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <!-- Route all loggers to the UI target and database target -->
    <!-- We'll filter by source in the UI and for storage duration programmatically -->
    <logger name="*" minlevel="Trace" writeTo="wpfUiTarget" />
    <logger name="*" minlevel="Debug" writeTo="database" />
    <logger name="*" minlevel="Debug" writeTo="fileDebug" />
    <!-- Optional -->
  </rules>
</nlog>