<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules"
             type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup></startup>
  <modules>
    <!--<module assemblyFile="BgCommon"
            moduleType="BgCommon.BgCommonModule, BgCommon"
            moduleName="BgCommonModule" startupLoaded="True" />-->
  </modules>
</configuration>