<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-generator.txt">

    <!-- 
    我们不再需要在这里声明 RichTextBox 目标，
    因为我们将通过代码来添加它，这样更可靠。
  -->
    <extensions>
        <add assembly="NLog.Windows.Forms"/>
    </extensions>

    <!-- 只定义文件目标 -->
    <targets>
        <target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <!-- 规则现在只指向文件目标，稍后代码会添加新规则 -->
    <rules>
        <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    </rules>
</nlog>